.card-container{
    place-content: center;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    width: 20vw;
    height: 20vw;
    place-items: center;
    margin:auto;
    

    }
.card-container:hover {
    background-image: url("https://img.freepik.com/fotos-premium/bandera-todos-paises_670382-33634.jpg");
    
    }


.names-container{
    text-shadow: black 0.1em 0.1em 0.2em;
    place-content: center;
    display: flex;
    color: aliceblue;
   
    
}

.p-img{
    width: 125px;
    height: 80px;
}
